<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #161c27">

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav13"
            aria-controls="basicExampleNav13" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse">

        <a class="navbar-brand" href="#!">
            <a href="/" class="text-uppercase font-weight-bold" style="color: white;">YOUR_SPACE</a>
        </a>

        <form class="navbar-search pl-0 ml-auto mt-3 mb-2 mt-md-0 mb-md-0 mr-3" action="">
            <div class="input-group d-block d-md-flex mb-0">
                <div class="input-group-prepend">
                    <input class="form-control white-text rgba-black-light border-0 z-depth-0" type="text"
                           placeholder="Ex: notebook..">
                    <a href="#!" class="input-icon d-flex align-items-center" type="button">
                        <i class="fas fa-search text-white mx-3"></i>
                    </a>
                </div>
            </div>
        </form>

        <!-- Right -->
        <ul class="navbar-nav pt-2">
            <li class="nav-item">
                <a href="#!" class="nav-link navbar-link-2">
                    <span class="badge badge-pill badge-danger">1</span>
                    <i class="fas fa-shopping-cart pl-0"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link">
                    Loja
                </a>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link">
                    Contato
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (32).jpg" class="rounded-circle"
                         style="height: 34px;" alt="avatar image">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="/login">Perfil</a>
                    <a class="dropdown-item" href="#!">Configurações</a>
                    <a class="dropdown-item" href="#!">Deslogar</a>
                </div>
            </li>
        </ul>

    </div>
    <!-- Links -->

</nav>